body{
    background-color: black;
}
#hi{
    width: 100px;
    height: 50px;
    background-color: white;
    padding-left: 50px;
    padding-top: 10px;
}

#hi1{
    width: 150px;
    height: 60px;
    background-color: white;
    margin: 5px;
    padding-left: 50px;
    padding-top: 10px;
    font-family: verdana;
}

#hi2{
    width: 500px;
    background-color: white;
    margin: 5px;
    /*padding-left: 50px;
    padding-top: 10px;*/
    
}
#hi3{
    width: 350px;
    height: 200px;
    background-color: white;
    margin: 5px;
}

#hi4{
    width:400px;
    background-color: white;
}

#hi5{
    width:400px;
    background-color: white;
    text-align: center;
}
#hi6{
    width:400px;
    background-color: white;
}
#hi7{
    width:400px;
    height: 170px;
    background-color: white;
}

#hi8{
    width:400px;
    height: 100px;
    background-color: white;
}
#hi9{
    display:block;
    background-color: white;
     width:200px;
     height: 50px;
}

#hi10{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
     width:400px;
     height: 70px;
}


#hi11{
   margin: 15px;
    background-color: white;
     width:650px;
     height: 200px;
}
#hi12{
   
     background-color: white;
      width:250px;
      height: 180px;
 }

 #hi13{
   
    background-color: white;
     width:250px;
     height: 180px;
}

#hi14{
   border-color: rgb(223, 228, 78);
   border-style:solid;
    background-color: white;
     width:200px;
     height: 70px;
}


#hi15{
    background-color: white;
    width:650px;
    height: 150px;
}

#hi16{
    box-shadow:2px 4px 3px rgb(186, 208, 201);;
    width:400px;
    height: 100px;
    background-color: rgb(244, 241, 241);
}

#hi17{
    width:200px;
    height: 280px;
    background-color: rgb(244, 241, 241);    
}

#hi18{
    display: inline-block;
    width:200px;
    height: 280px;
    background-color: rgb(244, 241, 241);    
}

#hi19{
    margin: 15px;
     background-color: white;
      width:650px;
      height: 250px;
 }

 #hi20{
    display: grid;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    width:200px;
    height: 280px;
    background-color: rgb(244, 241, 241);    
}

#hi21{
    width:200px;
    height: 100px;
    background-color: rgb(244, 241, 241);    
}

#hi22{
    
    width:400px;
    height: 300px;
    background-color: rgb(244, 241, 241);
}

#hi23{
    width:500px;
    height: 80px;
    background-color: white;
}

#hi24{
    width:330px;
    height: 350px;
    background-color: rgb(121, 117, 117);
}

#hi25{
    width:330px;
    height: 350px;
    background-color: rgb(121, 117, 117);
}